extends layout 

block content
  h2 List of movies:
    for movie in movies
      a(href="/movies/" + movie._id) 
        div 
          h3=movie.title
          h5=movie.releaseyear
          p=movie.director
